 /* Add some basic styling to the details-phn-add container */
 #details-phn-add {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #0ef506;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(23, 247, 3);
  padding: 20px;
  margin-bottom: 20px;
}

  /* Style the phone number container */
  #phone-number {
    padding: 20px;
  }

/* Style the heading */
#details-phn-add h2 {
    color: #000000;
    font:bold;
    margin-bottom: 20px;
}

 /* Style the paragraph */
 #phone-number p {
  color: black;
  font-size: 16px;
}

/* Style the form */
 #details-phn-add form {
    display: flex;
    flex-direction: column;
    border: none;
    margin-top: 20px;
}

/* Style the label and input fields */
#details-phn-add label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

#details-phn-add input[type="tel"] {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

#phone-number input[type="tel"]:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Style the submit button */
#details-phn-add input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}  

  #phone-number input[type="submit"]:hover {
    background-color: #3e8e41;
  }

  .go-block {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .Go {
    background-color: #4CAF50;
    border: none;
    width: 50px;
    height: 30px;
    border-radius: 5px;
  }

  .Go:hover {
    background-color: #3e8e41;
    opacity: 0.7;
    cursor: pointer;
  }
