body {
    background-color: #222222;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
 .name{
    color:green;
 }

 .login{
    background-color: yellow;
 }

#logo {
    width: 10%;
}

#search {
    width: 40%;
}

#menu {
    width: 60%;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

#menu li {
    display: inline;
}

#menu a {
    color: green;
    text-decoration: none;
    font-size: 20px;
}

#main-block {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

#pic-block {
    width: 50%;
}

#text-block {
    width: 50%;
    padding: 20px;
}

#info-block {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    height: 250px;
    background-color: rgb(7, 168, 7);
}

#address1, #email, #contact, #about {
    width: 25%;
    padding: 20px;
    background-color: rgba(32, 238, 13, 0.397);
    color: whitesmoke;
}

footer {

    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.image{
    width: 700px;
    height: 400px;
}








